*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
}
#header{
    border: 2px solid white; border-radius:5px; background-color:rgb(39,39,39);
}

ul{
    list-style: none;
    display: flex;
}
a{
    text-decoration: none;
}

a:hover{
    color:white;
    transition: 500ms;
}
.navbar{
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
}
.navbar-icon{
    /* border: 1px solid black; */
    text-align: center;
    width: 80px;
    padding: 2px; 
    margin: 5px;
    font-size: 18px;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-control{
    background-color: rgb(39, 39, 39);
    color: white;
    border: black;
    border: 2px solid black;
    outline: none;
}
.form-control:focus{
    background-color: rgb(32, 32, 32,0.9);
    color: white;
    border: 2px solid white;
    transition-duration: 1s;
    outline: none;
}

.user-info {
    background-color: rgb(50, 50, 50);
    font-size: 15px;
    text-align: right;
    padding: 1%;
    margin: 1%;
    border-radius: 5px
}

.error-box{
    margin-top: 10%;
    width: 100%;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(50, 50, 50);
    text-align: center;
}

.form-control::placeholder{color: rgba(255, 255, 255, 0.3);}
