.user-info {
    background-color: rgb(50, 50, 50);
    font-size: 15px;
    text-align: right;
    padding: 1%;
    margin: 1%;
    border-radius: 5px
}
table{
    margin-right: auto;
}
.main-container{
    /* min-width: 25%; */
    padding: 1%;

}   